<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#21ba45">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#21ba45">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="wages shift work clocks clock wage">


  <title>
{{ pageTitle }}  </title>

{{{ mainCss }}}    

{{{ pageMainCss }}}          {{{ pageOtherCss }}}




</head>

<body>

  <!-- APP SIDEBAR -->
  <div id="app-sidebar" class="ui left vertical inverted sidebar labeled icon menu">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a>
  </div>
  <!-- /APP SIDEBAR -->



  <div id="app-container" class="app-container">

    <!-- TOP MENU (if exported by child) -->
    <div class="app-main-menu">

{{{ pageTopMenu }}}    </div>
    <!-- /TOP MENU -->

    <!-- MAIN CHILD TEMPLATE INSERT -->
    <main role="main">

{{{ pageMainContent }}}    </main>
    <!-- /MAIN CHILD TEMPLATE INSERT -->
  </div>

  <!-- MODAL CONTAINER -->
  <div id="body-modal-dimmer" class="ui dimmer modals page transition body-modal-dimmer  body-modal-dismisser">

    <div id="body-modal" class="ui modal transition">
      <div id="body-modal-content" class="content"></div>

      <div class="actions">
        <div id="body-modal-dismiss" class="ui cancel button body-modal-dismisser">
          Dismiss
        </div>
      </div>
    </div>
  </div>
  <!-- /MODAL CONTAINER -->

  <div class="insert-new-app-available-ui" id="insert-new-app-available-ui"></div>

  <script>
    window.appInterface = {};
  </script>
{{{ mainJs }}}    

{{{ pageMainJs }}}          {{{ pageOtherJs }}}

</body>

</html>
