<option value="">-----</option>

        {{#each metas as |meta|}}
        <option value="{{meta.id}}" {{selected}} data-value="{{jsonStringify meta}}">
          {{meta.breakTimeSecs}} min | &euro; {{meta.payPerHr}} night: {{meta.nightSupplPayPct}} &percnt; sunday: {{meta.sundaySupplPayPct}}
          &percnt;
        </option>
        {{/each}}
